#flash.alert.alert-danger

%h3 Welcome

%p The following is a link shortening program.  Enter a link and click the bullseye.  Click the copy button to copy the short url.  To see the source code click #{link_to append_icon("here","bitbucket"), "https://bitbucket.org/kprifogle/shortit/src/8572e44fb6d34b48d9441b97d7c23b7468a0ea8e?at=master", :target => "_blank"}.
%p.hint Note that you can include the protocal in the link if you want.

.indent
  = simple_form_for(:link, :url => links_path, :remote => true, :html => {:id => "urls", :class => "form-horizontal"}) do |f|
    -field = @reverse ? :short_url : :long_url
    -type = @reverse ? :decode : :encode
    =f.input field, :wrapper => :append do
      = f.input_field field, :class => "form-control"
      %button#submit_button.btn.appended_button
        %i.fa.fa-bullseye
    #switch
      = link_to append_icon("Switch","arrows-v"), root_path(!@reverse ? {:reverse => true} : {})
    -field = @reverse ? :long_url : :short_url
    =f.input field, :wrapper => :append do
      = f.input_field field, :class => "form-control"
      %button#clipboard_button.btn.appended_button{"data-clipboard-target" => "short_url", "data-clipboard-text" => "Default clipboard text from attribute", :title => "Click to copy"}
        %i.fa.fa-copy
    = f.hidden_field (@reverse ? :decode : :encode), :value => true
#description_well.well
  %h5 Description of the task

  %p Create a Rails web service that has the following behaviors:

  %ul
    %li Given a long URL, it will provide a short URL
    %li Given a short URL that it generated, it will provide the corresponding long URL
    %li Short URLs are likely to be transcribed by hand, so they should accommodate common transcription ambiguities. O and 0 should be treated identically, for example.
    %li On the other hand, transcription errors should ideally not result in false results. The short URLspace should be sparse, specifically having the property that no two short URLs should differ by only one character.  (To address this I reduced the alphabet to treat as the same transcription errors, try "bOO" and "b00", "link" and "1ink")
    %li Short URLs must not contain any string in a list of inappropriate words. The list should be stubbed as "foo" and "bar" while legal trawls 4chan and compiles a master list of terms calculated to give offense.