<% if @short_url %>
  $("#link_short_url").val("<%= @short_url %>")
<% elsif @long_url %>
  $("#link_long_url").val("<%= @long_url %>")
<% end %>
$("#flash").html("<%= @flash%>")
<% if !@flash.blank? %>
  $("#flash").css("display","block")
<% else %>  
  $("#flash").css("display","none")
<% end %>