/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

label.url{
  padding-right: 30px;
}

#main_container{
  margin-top: 70px;
}

#description_well{
  margin-top: 40px;
  padding-top:10px;
}

.pad-icon{
  padding-left: 10px;
}

.appended_button{
  display:inline;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  bottom: 1px;
  right: 4px;
  position:relative;

}

#flash{
  display:none;
}

.indent{
  margin-left: 30px;
}

#urls{
  display:inline;
}

.controls{
  display:inline-block;
  width: 60%;
}

#short_url{
  cursor: auto;
}

#short_url.not_required{
  margin-left: 8px;
}

#long_url.not_required{
  margin-left: 12px;
}

#switch{
  margin-bottom: 20px;
}

.input-append{
  .form-control{
    display: inline-block;
    width: 60%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  } 
}


@import "font-awesome-sprockets";
@import "font-awesome";